.centered {
    display: flex;
    align-items: center;
    text-align: center;
    height: calc(100vh - 100px);
}

#title {
    font-size: 60px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}

.credit {
    font-weight: 200;
    color: #fff;
    opacity: .5;
}

#date {
    color: #fff;
}
