#time {
    width: 90%;
    height: 150px;
}

#time .row, .col-md-1, .col-md-1 .card{
    height: 100%;
    padding: 0px !important;
}

#time .card {
    width: 50px !important;
    margin: 0px !important;
    border: 1px solid grey;
    border-radius: 0rem;
}

.reserved {
    background-color: lightgrey;
    opacity: .5;
    cursor: not-allowed;
}

.unreserved {
    background-color: lightgrey;
    opacity: 1;
    width: 100%;
}

.modal #timemodal{
    margin-top: 10%;
}


